<div class="golfer-rounds">
<h3>Rounds Posted</h3>

<table style='width: 70%'>
  <thead>
    <tr>
      <th><strong>Golf Course</strong></th>
      <th><strong>Score</strong></th>
      <th><strong>Over/Under</strong></th>
      <th><strong>Net Score</strong></th>
      <th><strong>Net O/U</strong></th>
      <th><strong>Post Date</strong></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each rounds}}
    <!-- How to refer to the round attritbutes in the handlebars each block? -->
      <tr>
        <td><a href="/golf_courses/{{id}}">Cypress Point</a></td>
        <td>92</td>
        <td>+20</td>
        <td>77</td>
        <td>+5</td>
        <td>12/04/2017</td>
        <td><a href="/golfers/1/rounds/1/edit">edit round</a></td>
      </tr>
    {{/each}}
