<h1>Edit Round</h1>

<%= render partial: '/rounds/form', locals: { round: @round, current_golfer: current_golfer } %> <br><br>

<%= button_to 'Delete Round', golfer_round_path(@round.golfer, @round), :method => 'delete' %>
