// Place all the styles related to the GolfCourses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  color: white;
  background-color: red;
}

.buttons-gc-show {
  margin-bottom: 30px;
}

.buttons-gc-show ul {
  margin-left: 0px;
  padding-left: 0;
}

.buttons-gc-show li {
  float: left;
  display: inline-block;
  margin-right: 15px;
}

.all-rounds-gc {
}

.all-rounds-gc li {
  margin: auto;
  align: left;
}

#showPostedRound {
  color: green;
}

#roundBlank, #comment-error {
  color: #FF0008;
}

.golf-course-comment {
  margin-left: 10px;
}

.golf-course-comment h7 {
  margin-right: 100px;
}

.gc-comment-destroy {
  display: inline;
}
.gc-comment-destroy button {
  display: none;
	position: absolute;
	font-size: 10px;
	color: #AF3539;
	transition: color 0.2s ease-out;
	background: none;
}

.gc-comment-destroy:hover button {
  color: #FF0008;

}

.golf-course-comment:hover button {
  display: inline;
}
