// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-pic-img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.welcome-home {
  margin-left: 10px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
