// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome.home {
  background: url(Cypress-Point-15-water.jpg)  no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-size: cover;
}

.welcome-golfer h1 {
  margin-top: 12px;
  margin-left: 38%;
  color: rgb(4, 54, 0);
  font-family: 'Acme', sans-serif;
  font-weight:400;
  -webkit-text-stroke: 0.7px white;
  font-size: 5em;
}

.not-logged-in, .login-notice, .home-info {
  display: inline-block;
  font-family: 'Source Serif Pro', serif;
  color: white;
  -webkit-text-stroke: 0.1px black;
  font-family: 'Source Serif Pro', serif;
  background-color: rgba(0, 28, 0, 0.8);
}

.not-logged-in, .login-notice {
  margin-left: 40%;
  padding: 4px;
}

.not-logged-in {
  margin-top: 0;
}

.login-notice {
  margin-top: 50px;
}

.home-info {
  border-radius: 40px;
  padding: 8px 0 0 8px;
  margin-top: 25px;
  margin-left: 29%;
}

.home-info h4 {
  margin-left: 12px;
  margin-right: 10px;
  font-size: 1.6em;
  margin-top: 6px;

}

.home-info h4 span {
  letter-spacing: 0.8px;
}

.home-spacer {
  height: 10px;
}
